@import "../../bourbon/bourbon"; // import bourbon
@import "grid-settings"; // set up basic grid
@import "../../neat/neat"; // import neat

// base variables
$serif: "kepler-std-display",serif; // our serif
$sans: $helvetica, sans-serif; // our sans
$basesize: em(20); // base font size

$black: tint(black, 30%); // the black we use for text an other things
$red: #DF4949;
$blue: #334D5C;
$lightblue: #45B29D;
$yellow: #EFC94C;
$orange: #E27A3F;

// reset the user-agent padding and margin
body {
  margin:0;
  padding:0;
  color: tint(black, 30%);

}

// some text styles
p {
  font-family: $sans;
  font-size: $basesize;
  font-weight: 300;
  line-height: em(25);
  &:first-child {
    margin-top:0;
  }
}

h1 {
  font-family: $serif;
  font-weight: 900;
  font-style: italic;
  font-size: em(100);
  letter-spacing: -5px;
  margin:0;
}

h2 {
  font-family: $serif;
  font-weight: 900;
  font-size: normal;
  font-size: em(75);
  line-height: em(15);
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin:0;

  @include media($mobile) {
    font-size: em(60);  
  }
}

a { // no underline, underline on hover
  text-decoration:none;
  color: $black;
  &:hover {
    border-bottom: 1px solid $black;
    padding-bottom: 4px;
  }
}

// dropcap exactly three lines of body text
.dropcap:first-letter {
  font-family: $serif;
  font-weight: 400;
  float: left; 
  font-size: $basesize * 4.8; 
  line-height: 60px; 
  padding: 19.5px 6px 0 3px;
}


// layout stuff

.container {
  @include outer-container;

}

.content {
  @include span-columns(6);
  @include shift(2);
  margin-top: 80px;

  @include media($tablet) {
    @include shift(1);
    @include span-columns(6 of 8);
  }

  @include media($mobile) {
    @include shift(1);
    @include span-columns(3 of 4);  
  }
}

$offset: 50px; // offset from elements above for copy

.column {
  @include span-columns(4 of 6);
  margin-top: $offset;

  @include media($mobile) {
    @include span-columns(4 of 4);
  }
}

.infobox {
  @include span-columns(1.5 of 6);
  margin-top: $offset;
  padding-left: 15px;
  p {
    font-size: $basesize * 0.7;
    font-style: italic;
    margin-bottom: 20px;
  }
  .bignumber {
    font-family: $serif;
    font-weight: 900;
    font-style: italic;
    font-size: $basesize * 6;
    margin: -35px 0 -30px 0;
    color: $red;
    letter-spacing: -2px;
  }

  @include media($mobile) {
    display:none;
  }
}

// full-width-images
.full {

  @include span-columns(10); // stretch all the way across

  $image-gradient-color-top: orange; 
  $transparency-top: .6;
  $image-gradient-color-bottom: teal; 
  $transparency-bottom: .6;
  $vertical-angle: 180deg;

  $image-gradient-color-left: teal; 
  $transparency-left: .7;
  $image-gradient-color-right: yellow; 
  $transparency-right: .7;
  $horizontal-angle: 90deg;

  background: url(../../img/riverpic.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding: 12em 0 12em 0;
  position: relative;
  display: table;
  margin-bottom: 50px;
  height: 100vh;

  overflow:hidden;

  .bigcopy { // the big fifty-fifty at the beginning
    color: white;
    position: absolute;
    top: -40px;
    left: -2px;
    margin: auto;
    z-index: 999;
    text-align: center;
    font-size:em(70);
  }

  .copy {
    @include shift(2);
    @include span-columns(6 of 10);

    color: white;
    top: 30%;
    left: 30%;
    margin-top:70px;
    z-index: 9999;

    .subtitle {
      color: white;
      text-transform: uppercase;
      font-weight: 200;
      letter-spacing: 10px;
      font-size: em(15);

      border-bottom: 1px solid white;
      padding-bottom: 14px;
    }

    .sub-subtitle {
      margin-top: 40px;
      font-weight: 200;
      font-size: em(13);
      letter-spacing: 1px;
      color: white;
    }

    a {
      color:white;
    }
  }

.overlay {
    @include linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top), 
      transparentize($image-gradient-color-bottom, $transparency-bottom));
    display: block;
    @include position(absolute, 0px 0px 0px 0px);

    &:after {
      content: '';
      @include linear-gradient($horizontal-angle, transparentize($image-gradient-color-left, $transparency-left), 
        transparentize($image-gradient-color-right, $transparency-right));
      display: block;
      @include position(absolute, 0px 0px 0px 0px);
    }
  }
}

.first { // no margin for our first giant image
  margin-top:0px;
  .copy {
    top: 45%;
  }
}

.headercopy {
  position: absolute;
  margin-top: 350px;

  @include span-columns(3);
  @include shift(1);

  @include media($tablet) {
    @include span-columns(4);
  }

  @include media($mobile) {
    @include span-columns(3);
  }

  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: em(13);

  p {
      font-weight: 100;
      border-bottom: 1px solid white;
      padding-bottom: 10px;
      line-height: 30px;
  }

  .sub-subtitle {

  }
}

.kicker {
  font-size: $basesize * 0.7;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: $red;
  margin-bottom: 10px;
}