* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.content {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 58.97436%;
  margin-left: 20.51282%; }
  .content:last-child {
    margin-right: 0; }
