* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  color: #4c4c4c; }

p, h5 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif, sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.5625em; }
  p:first-child, h5:first-child {
    margin-top: 0; }

h1 {
  font-family: "kepler-std-display", serif;
  font-weight: 900;
  font-style: italic;
  font-size: 6.25em;
  letter-spacing: -5px;
  margin: 0; }

h2 {
  font-family: "kepler-std-display", serif;
  font-weight: 900;
  font-size: normal;
  font-size: 4.6875em;
  line-height: 0.9375em;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0; }
  @media screen and (max-width: 587px) {
    h2 {
      font-size: 3.75em; } }

h3 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.875em;
  margin: 0; }

h4 {
  font-family: "kepler-std-display", serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.125em;
  margin: 0; }

h5 {
  margin-bottom: -15px;
  font-weight: 600; }

a {
  text-decoration: none;
  color: #4c4c4c; }
  a:hover {
    border-bottom: 1px solid #4c4c4c;
    padding-bottom: 4px; }

.dropcap:first-letter {
  font-family: "kepler-std-display", serif;
  font-weight: 400;
  float: left;
  font-size: 6em;
  line-height: 60px;
  padding: 19.5px 6px 0 3px; }

.caption {
  font-family: "kepler-std-display", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin-bottom: 15px; }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.content {
  float: left;
  display: block;
  margin-right: 1.85185%;
  width: 59.25926%;
  margin-left: 20.37037%;
  margin-top: 140px; }
  .content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .content {
      margin-left: 10.18519%;
      float: left;
      display: block;
      margin-right: 2.32558%;
      width: 74.4186%; }
      .content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 587px) {
    .content {
      margin-left: 12.7907%;
      float: left;
      display: block;
      margin-right: 4.7619%;
      width: 73.80952%; }
      .content:last-child {
        margin-right: 0; } }

.column {
  float: left;
  display: block;
  margin-right: 3.125%;
  width: 65.625%;
  margin-top: 50px; }
  .column:last-child {
    margin-right: 0; }
  .column img {
    width: 100%;
    margin: 40px 0 0 0; }
  .column .caption {
    margin-bottom: 40px; }
  @media screen and (max-width: 587px) {
    .column {
      float: left;
      display: block;
      margin-right: 4.7619%;
      width: 100%; }
      .column:last-child {
        margin-right: 0; } }

.column-full {
  float: left;
  display: block;
  margin-right: 3.125%;
  width: 100%;
  margin-top: 50px; }
  .column-full:last-child {
    margin-right: 0; }
  .column-full img {
    width: 100%; }
  @media screen and (max-width: 587px) {
    .column-full {
      float: left;
      display: block;
      margin-right: 4.7619%;
      width: 100%; }
      .column-full:last-child {
        margin-right: 0; } }

.infobox {
  float: left;
  display: block;
  margin-right: 3.125%;
  width: 22.65625%;
  margin-top: 50px;
  padding-left: 15px; }
  .infobox:last-child {
    margin-right: 0; }
  .infobox p, .infobox h5 {
    font-size: 0.875em;
    font-style: italic;
    margin-bottom: 20px; }
  .infobox .head {
    font-family: "kepler-std-display", serif;
    font-weight: 900;
    font-size: 1.25em;
    margin-top: -35px; }
  .infobox .bignumber, .infobox .bigquote {
    font-family: "kepler-std-display", serif;
    font-weight: 900;
    font-style: italic;
    font-size: 7.5em;
    margin: -35px 0 -30px 0;
    color: #df4949;
    letter-spacing: -2px; }
    @media screen and (max-width: 768px) {
      .infobox .bignumber, .infobox .bigquote {
        font-size: 5em; } }
  .infobox .bigquote {
    font-size: 2.25em;
    letter-spacing: 0;
    line-height: 40px;
    margin: 0 0 0 0;
    color: #e27a3f; }
  @media screen and (max-width: 587px) {
    .infobox {
      display: none; } }

.full {
  float: left;
  display: block;
  margin-right: 1.85185%;
  width: 100%;
  background: url(../../img/riverpic.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding: 12em 0 12em 0;
  position: relative;
  display: table;
  margin-bottom: 50px;
  height: 100vh;
  overflow: hidden; }
  .full:last-child {
    margin-right: 0; }
  .full .bigcopy {
    color: white;
    position: absolute;
    top: -40px;
    left: -2px;
    margin: auto;
    z-index: 999;
    text-align: center;
    font-size: 4.375em; }
  .full .copy {
    margin-left: 20.37037%;
    float: left;
    display: block;
    margin-right: 1.85185%;
    width: 59.25926%;
    color: white;
    top: 30%;
    left: 30%;
    margin-top: 70px;
    z-index: 9999; }
    .full .copy:last-child {
      margin-right: 0; }
    .full .copy .subtitle {
      color: white;
      text-transform: uppercase;
      font-weight: 200;
      letter-spacing: 10px;
      font-size: 0.9375em;
      border-bottom: 1px solid white;
      padding-bottom: 14px; }
    .full .copy .sub-subtitle {
      margin-top: 40px;
      font-weight: 200;
      font-size: 0.8125em;
      letter-spacing: 1px;
      color: white; }
    .full .copy a {
      color: white; }
  .full .overlay {
    background-color: rgba(255, 165, 0, 0.4);
    background-image: -webkit-linear-gradient(-450deg, rgba(255, 165, 0, 0.4), rgba(0, 128, 128, 0.4));
    background-image: linear-gradient(180deg,rgba(255, 165, 0, 0.4), rgba(0, 128, 128, 0.4));
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px; }
    .full .overlay:after {
      content: '';
      background-color: rgba(0, 128, 128, 0.3);
      background-image: -webkit-linear-gradient(-360deg, rgba(0, 128, 128, 0.3), rgba(255, 255, 0, 0.3));
      background-image: linear-gradient(90deg,rgba(0, 128, 128, 0.3), rgba(255, 255, 0, 0.3));
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px; }

.first {
  margin-top: 0px; }
  .first .copy {
    top: 45%; }

.headercopy {
  position: absolute;
  margin-top: 350px;
  float: left;
  display: block;
  margin-right: 1.85185%;
  width: 28.7037%;
  margin-left: 10.18519%;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 0.8125em; }
  .headercopy:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .headercopy {
      float: left;
      display: block;
      margin-right: 2.32558%;
      width: 48.83721%; }
      .headercopy:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 587px) {
    .headercopy {
      float: left;
      display: block;
      margin-right: 4.7619%;
      width: 73.80952%; }
      .headercopy:last-child {
        margin-right: 0; } }
  .headercopy p, .headercopy h5 {
    font-weight: 100;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    line-height: 30px; }
  @media screen and (max-width: 587px) {
    .headercopy {
      display: none; } }

.kicker {
  font-size: 0.875em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #df4949;
  margin-bottom: 10px; }

.toc-sub {
  margin-top: 50px;
  border: 1px solid #cccccc;
  float: left;
  display: block;
  margin-right: 3.125%;
  width: 31.25%;
  padding: 10px;
  transition: all 0.2s ease; }
  .toc-sub:last-child {
    margin-right: 0; }
  .toc-sub:nth-child(5) {
    margin-right: 0; }
  .toc-sub:nth-child(5+1) {
    clear: left; }
  @media screen and (max-width: 768px) {
    .toc-sub {
      float: left;
      display: block;
      margin-right: 3.125%;
      width: 100%; }
      .toc-sub:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 587px) {
    .toc-sub {
      float: left;
      display: block;
      margin-right: 6.45161%;
      width: 100%; }
      .toc-sub:last-child {
        margin-right: 0; } }
  .toc-sub p, .toc-sub h5 {
    text-align: center; }
  .toc-sub .numeral {
    font-family: "kepler-std-display", serif;
    font-weight: 200;
    font-size: 5em;
    margin-bottom: -30px; }
  .toc-sub .title {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.25em; }
  .toc-sub .subtitle {
    font-size: 0.9375em;
    font-style: italic;
    margin-top: -10px;
    margin-bottom: 15px; }
  .toc-sub:hover {
    background-color: #4c4c4c;
    border: 0; }
    .toc-sub:hover p, .toc-sub:hover h5 {
      color: white; }

.box {
  margin-top: 50px;
  border: 1px solid #cccccc;
  padding: 40px 40px 30px; }
  .box p, .box h5 {
    font-size: 1.025em; }

.headshot {
  float: left;
  display: block;
  margin-right: 1.85185%;
  width: 18.51852%;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  margin-right: 40px;
  margin-bottom: 10px; }
  .headshot:last-child {
    margin-right: 0; }
  .headshot:after {
    content: "";
    display: table;
    clear: both; }

.david {
  background: url(http://codeforamerica.org/media/images/people/david-leonard.jpg) no-repeat; }

.maya {
  background: url(http://codeforamerica.org/media/images/people/maya-benari.jpg) no-repeat; }

.amy {
  background: url(http://codeforamerica.org/media/images/people/amy-mok.jpg) no-repeat; }

.hugh {
  background: url(../../img/hugh.jpg) no-repeat; }

.kevin {
  background: url(../../img/kevin.jpg) no-repeat; }

.lorenzo {
  background: url(../../img/lorenzo.jpg) no-repeat; }

.scott {
  background: url(../../img/scott.jpg) no-repeat; }

.no-margin {
  margin-top: 0; }
